<a href="/tiendas/{{store.id}}" class="back">Regresar</a>
{{>storeDetail}}
<div class="new">
   <p class="frmT">Agrega una reseña</p>
   <form action="" method="">
      <ul id="id_score">
         <li>
            <label for="id_score_0">
               <input
                  type="radio"
                  name="score"
                  value="1"
                  required=""
                  id="id_score_0"
               />
            </label>
         </li>
         <li>
            <label for="id_score_1">
               <input
                  type="radio"
                  name="score"
                  value="2"
                  required=""
                  id="id_score_1"
               />
            </label>
         </li>
         <li>
            <label for="id_score_2">
               <input
                  type="radio"
                  name="score"
                  value="3"
                  required=""
                  id="id_score_2"
               />
            </label>
         </li>
         <li>
            <label for="id_score_3">
               <input
                  type="radio"
                  name="score"
                  value="4"
                  required=""
                  id="id_score_3"
               />
            </label>
         </li>
         <li>
            <label for="id_score_4">
               <input
                  type="radio"
                  name="score"
                  value="5"
                  required=""
                  id="id_score_4"
               />
            </label>
         </li>
      </ul>
      <label for="id_name">Nombre:</label>
      <input type="text" name="name" maxlength="150" id="id_name" />
      <label for="id_description">Descripcion:</label>
      <textarea
         name="description"
         cols="40"
         rows="10"
         id="id_description"
      ></textarea>
      <button class="add">Agregar</button>
   </form>
</div>