<a href="/tiendas" class="back">Regresar</a>
{{>storeDetail}}
<article>
   <div class="bar">
      <h2>Reviews</h2>
      <a href="/tiendas/{{store.id}}/agregar" class="add">Agregar</a>
   </div>
   <ul class="reviewLst">
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
   </ul>
   {{>pages}}
</article>