<a href="/tiendas" class="back">Regresar</a>
<div class="store">
   <img src="/img/defaultImg.png" alt="" />
   <div class="info">
      <p class="strName">{{store.name}} </p>
      <p>{{store.category}} </p>
      <p>Pasillo no 33</p>
   </div>
   <div class="score">
      <p>{{store.score}} </p>
   </div>
</div>
<article>
   <div class="bar">
      <h2>Reviews</h2>
      <a href="/review/crear" class="add">Agregar</a>
   </div>
   <ul class="reviewLst">
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
      <li>
         <div class="info">
            <p class="strName">Emily J.</p>
            <p>⭐⭐⭐</p>
            <p>10/07/2021</p>
         </div>
         <div class="desc">
            <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </li>
   </ul>
   <ul class="pages">
      <li><a href="#" class="fst">Primera</a></li>
      <li><a href="#" class="prev">&laquo; Anterior</a></li>
      <li>Pagina 2 de 52</li>
      <li><a href="#" class="next">Siguiente &raquo;</a></li>
      <li><a href="#" class="lst">Última</a></li>
   </ul>
</article>