<div class="home">
   <img src="/img/rccrBanner.png" alt="" class="bnr" />
   <div class="banner">
      <h1>Reseñas el recreo</h1>
      <a href="/tiendas" class="goStrs">ver tiendas</a>
   </div>
</div>