<header>
   <nav>
      <h1 class="logo">
         <a href="/"><img src="/img/rccrLogo.png" /></a>
      </h1>
      <ul>
         <li><a href="/tiendas" {{#if pgName }} class="active" {{/if}} >
            Tiendas
         </a></li>
         <li><a href="/acerca" {{#if pgAbout}} class="active" {{/if}} >
            Nosotros
         </a></li>
      </ul>
   </nav>
</header>