<ul class="pages">
   <li class="fst"><a href="#" class="fst">Primera</a></li>
   <li class="prev"><a href="#" class="prev">&laquo; Anterior</a></li>
   <li class="act">Pagina 2 de 52</li>
   <li class="nxt"><a href="#" class="next">Siguiente &raquo;</a></li>
   <li class="lst"><a href="#" class="lst">Última</a></li>
</ul>