<div class="store">
   <div class="logo">
      <img src="/img/storeLogo.png" alt="" />
   </div>
   <div class="info">
      <p class="strName">{{store.name}} </p>
      <p>{{store.category}} </p>
      <p>Pasillo no 33</p>
   </div>
   <div class="score">
      <p>{{store.score}} <span>/5</span></p>
   </div>
</div>